body {
    font-family: sans-serif;
    background-color: #fff;
  }
  
  h1 {
    font-size: 2em;
    margin-top: 0;
    background-color: black;
    color: white;
    text-align: center;
  }
  
  article {
    margin-bottom: 20px;
  }
  
  p {
    line-height: 1.5;
  }
  
  img {
    margin: 10px;
    width: 600px;
    height: 200px;
    border-radius: 10px;
  }
  
  footer {
    background-color: black;
    color: white;
    text-align: center;
  }